.text-center{
  text-align: center;
}

.btn-pink{
  background-color: black;
  color: orange;
}
.btn-round{
  border-radius: 30px;
}

.bg-image{
  background-size:cover;
  background-image: url('https://static1.squarespace.com/static/51c748abe4b0c275d0aa86bf/56141f2be4b0a4afc2d17505/5643aba1e4b0b66656c4cfa1/1469211550294/');
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-white{
  color: white;
  text-shadow: 2px 2px 5px black;
}

.no-bottom-margin{
  margin-bottom: 0;
  border-radius: 0;
}
